body{
    font-family: tahoma, arial sans-serif;
    margin: 0;
    padding: 0;
}
#principal{
    width: 1024px;
    margin: 20px auto;
     
}
.menu{
     height: 50px;
     background: #162028;
     position: relative;
    
}
.logotipo{
    margin: 5px 0 0 135px;
}
.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.header-nav ul{
    margin: 0;
    padding: 0;
}
.header-nav li{
    list-style: none;
    display: inline-block;
    margin: 0 15px 0 0  ;
    padding: 13px ;
    
}
.header-nav a{
    text-decoration: none;
    color:  #6f8597;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color 0.2s linear;
}
.header-nav a:hover{
    color: white;
    
}
         
.portifolio{
    padding: 50px 100px;
    text-align: center;
}
.portifolio h1{
    font-size: 34px;
    color:#252525;
}
.portifolio p{
    font-size: 16px;
    line-height: 36px;
    color: #555;
}
 .galeria{
    color: #555;
    padding: 0 100px 50px 100px;
    overflow: auto;

 }
.cards{
    width: 32%;
    float: left;
    text-align: center;
}
.title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bolder;

}
.about{
    background-color: #003d52;
    padding: 100px;
    color: white;
    background-image: url(imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.about h1{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 56px;

}
.about p{
    line-height: 1.5;
    width:70%;

}
.contato{
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 22px;

}
.contato{
    width: 100%;
    height: 85px;
    margin-top: 20px;
}
.mapa{
    width: 100%;


}
.mapa iframe{
    width: 100%;
}

.rodape{
    background-color: #162028;
    padding: 17px;
    color: #6f8597;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    letter-spacing: 5px;
}

